<%- include('header.ejs') %>




<div class="container">
    <div class="form-group ">
        <br><br>
        <input type="search" class="form-control" placeholder="Search Here" aria-labelledby="Search">
        <br>
        <center><button class="btn btn-lg btn-dark" type="submit">Search</button></center>

    </div>
    <br>
    <hr>
    <br>
    <div class="worker">
        <div class="media">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
                <a class="" href="#" style="text-decoration: none;">
                    <h5 class="mt-0">Job Title</h5>
                </a>
                <p>Job Decription</p>
                <h6>Category</h6>
                <p>tags</p>
                <button type="menu" class="btn btn-dark">Images</button>
                <a class="ml-3" href="" style="text-decoration: none;">Chat</a>
            </div>
        </div>
    </div>
    <div class="worker">
        <div class="media">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
                <a class="" href="#" style="text-decoration: none;">
                    <h5 class="mt-0">Job Title</h5>
                </a>
                <p>Job Decription</p>
                <h6>Category</h6>
                <p>tags</p>
                <button type="menu" class="btn btn-dark">Images</button>
                <a class="ml-3" href="" style="text-decoration: none;">Chat</a>
            </div>
        </div>
    </div>
</div>