<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="Css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Oswald|Raleway&display=swap" rel="stylesheet">
  
  <title>HomeBuildINT</title>
</head>

<body>
  <hr class="top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg  navbar-light bg-light sticky-top shadow">
    <a class="navbar-brand titlename" href="/"><img src="/Images/hb final.png" height="50px" width="50px" style="margin-right: 5px;" alt="">HomeBuildINT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse block " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item ">
          <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->


        <li class="nav-item ">
          <a class="nav-link" href="findjobs">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
        <div class="dropdown">
          <a class="nav-link  dropdown-toggle" href="Services" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services<span class="sr-only">(current)</span>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="Services">Find Builders</a>
            <a class="dropdown-item" href="Services">Find Interior Designers</a>
            <a class="dropdown-item" href="Services">Find Architects</a>
          </div>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link " href="SignUp">SignUp</a>
        </li>
     <li class="nav-item">
       <a class="nav-link" href="Post"><button class="btn btn-dark">Post Job</button> </a>
     </li>
    </ul>
      </div>
     
      
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="login" role="button" id="dropdownLog" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"">
          Login</a>
          

        <div class="dropdown-menu" aria-labelledby="dropdownLog">
          <a class="dropdown-item" href="login">User</a>
          <a class="dropdown-item" href="login">Workers</a>
          
        </div>
      
        
    </div>

  </nav>