<%-include('header.ejs'); %>
<!-- Starting -->
<section id="bgcolor">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-lg-6 col-md-4" style="margin-top: 100px;">
        <h1 class="my-3 head">Find & Hire<br>
          <strong>Construction Experts</strong>
        </h1>



        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-2 btn-srch" type="submit">Search</button>
        </form>
      </div>


      <div class=" col-lg-6 col-md-8 ">

        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade my-3" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="Images/home.jpg" class="d-block w-100  img_size" alt="...">
            </div>
            <div class="carousel-item">
              <img src="Images/home2.jpg" class="d-block w-100 img_size" alt="...">
            </div>
            <div class="carousel-item">
              <img src="Images/home3.jpg" class="d-block w-100 img_size" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>

<section id="nocolor">
  <div>
    <h1 class="center">Browse Popular Professional Services</h1>
    <hr class="under_head">
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-md-4">
        <div class="card shadow marg " style="width: 15rem;">
          <img class="card-img-top img_card" src="\Images\Card logos\intdesigner.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Interior Designer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-md-4">
        <div class="card shadow marg" style="width: 15rem;">
          <img class="card-img-top img_card" src="\Images\Card logos\architect.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Architect</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </div>
      <div class=" col-sm-1 col-lg-4 col-md-4">
        <div class="card shadow marg" style="width: 15rem;">
          <img class="card-img-top img_card" src="\Images\Card logos\builder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Builders</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>

          </div>
        </div>
      </div>

    </div>
  </div>





  </div>


</section>
<section id="bgcolor">
  <div class="container-fluid">
    <h1 class="center">What we provide?</h1>
    <hr class="white">
    <div class="row">
     
      <div class="col-lg-6">
        <img src="Images\New folder\user.png" class="img_prov" alt="">
        <h2 class="prosection">For User</h2>
        <ul class="point" type="none">
          <li class="marg">
            <i style="margin-right: 5px;" class="far fa-check-circle"></i>Browse more than thousand expertise.
          </li>
          <li class="marg">
            <i style="margin-right: 5px;" class="far fa-check-circle"></i>Post a job for free.
          </li>
          <li class="marg">
            <i style="margin-right: 5px;" class="far fa-check-circle"></i>Choose your worker freely.
          </li>
          <li class="marg"> <i style="margin-right: 5px;" class="far fa-check-circle"></i>Interact with them using chat system.  
          </li>
        </ul>
           

      
      </div>
    
      <div class="col-lg-6">
       <img src="Images\New folder\worker.png" class="img_prov" alt="">
        <h2 class="prosection"> For Worker</h2>
        <ul class="point" type="none">
        <li class="marg">
          <i style="margin-right: 5px;" class="far fa-check-circle"></i>Find and apply for jobs.
        </li>
        <li class="marg">
          <i style="margin-right: 5px;" class="far fa-check-circle"></i>Work the way you want.
        </li>
        <li class="marg">
          <i style="margin-right: 5px;" class="far fa-check-circle"></i>Interact with them using chat system. 
        </li>
        <li class="marg">
          <i style="margin-right: 5px;" class="far fa-check-circle"></i>Multiple jobs.
        </li>
        </ul>
           
      </div>
    </div>



  </div>



</section>
<section id="nocolor">
  <h1 class="center">How to use</h1>
  <hr class="under_head">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 col-lg-3 col-md-3">
        <div class="card " style="width: 15rem; border: none;">
          <img class="card-img-top img_use" src="\Images\New folder\job.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Post Job</h5>
            <p class="card-text">Signup and create a job post for free.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-md-3">
        <div class="card " style="width: 15rem; border: none;">
          <img class="card-img-top img_use" src="\Images\New folder\hire.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Find & Hire</h5>
            <p class="card-text">Compare the quotes you recieve and hire the best Professional.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-md-3">
        <div class="card " style="width: 15rem; border: none;">
          <img class="card-img-top img_use" src="\Images\New folder\chat.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Interact</h5>
            <p class="card-text">Interact with them and get to know about ideas.</p>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-md-3">
        <div class="card " style="width: 15rem; border: none;">
          <img class="card-img-top img_use" src="\Images\New folder\done.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Get Work Done</h5>
            <p class="card-text">Make an agreement and decide further process physically.</p>

          </div>
        </div>
      </div>
    </div>
</section>


<%-include('footer.ejs'); %>