<%-include('header.ejs'); %>
<div class="row container">
    
        <div class="col-lg-8" style="margin-top: 10px;">
            <h3 class="my-3">
                Post Job
            </h3>
            <hr class="under_head">
            <form action="">
                <div class="form-group">
                    <label for="Title">Job Title</label>
                    <input type="text" class="form-control" id="Title">
                </div>
                <div class="form-group">
                    <label for="Description">Job Description</label>
                    <textarea class="form-control" id="Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="">Images</label>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFile">Choose Image file</label>
                        <input type="file" class="custom-file-input" id="customFile">

                    </div>
                </div>

                <div class="form-group">
                    <label for="Category">Category</label>
                    <select class="form-control" id="Category">
                        <option id="">All</option>
                        <option id="">Architect</option>
                        <option id="">Builder</option>
                        <option id="">Interior Designer</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Date">Get Quotes Till Date</label>
                    <input type="date" class="form-control" id="Date">

                </div>

                <button type="submit" class="btn btn-lg btn-dark ">Post</button>
            </form>
        </div>
     
            <div class="col-lg-4 my-5" style="color: rgb(133, 127, 127);" >
                <h5 class="my-3">It’s free to post a job</h5>

                <p><i style="margin-right: 5px;" class="far fa-check-circle"></i> Access global talent pool</p>
                <p><i style="margin-right: 5px;" class="far fa-check-circle"></i>Get quotes within hours</p>
                <p><i style="margin-right: 5px;" class="far fa-check-circle"></i>Create agreements mutually</p>




    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8f5f5e0f94.js" crossorigin="anonymous"></script>
</body>
</html>






<!-- <%-include('footer.ejs'); %> -->