<%-include('header.ejs'); %>

<div class="container">
  <div class="form-group ">
    <br><br>
    <input type="search" class="form-control" placeholder="Search Here" aria-labelledby="Search">
    <br>
    <center><button class="btn btn-lg btn-dark" type="submit">Search</button></center>

  </div>
  <br>
  <hr>
  <br>
  <div class="worker">
    <div class="media">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <a class="" href="#" style="text-decoration: none;">
          <h5 class="mt-0">Company name or Name</h5>
        </a>
        <address>Location</address>

        <div class="media mt-3">

          <img src="..." class="mr-3" alt="...">

          <div class="media-body">
            <h5 class="mt-0">Working Category</h5>
            <p>Description about the company</p>
            <button type="menu" class="btn btn-dark">Other services</button>
            <button type="menu" class="btn btn-dark">Portfolio </button>
            <button type="menu" class="btn btn-dark">About us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="worker">
    <div class="media">
      <img src="..." class="mr-3" alt="...">
      <div class="media-body">
        <a class="" href="#" style="text-decoration: none;">
          <h5 class="mt-0">Company name or Name</h5>
        </a>
        <address>Location</address>

        <div class="media mt-3">

          <img src="..." class="mr-3" alt="...">

          <div class="media-body">
            <h5 class="mt-0">Working Category</h5>
            <p>Description about the company</p>
            <button type="menu" class="btn btn-dark">Other services</button>
            <button type="menu" class="btn btn-dark">Portfolio </button>
            <button type="menu" class="btn btn-dark">About us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>